import { BaseService } from '@/shared/api/base-service';

export class {{ModelName}}Service extends BaseService<{{ModelName}}> {
  constructor() {
    super('{{module_name}}');
  }

  async get{{ModelName}}s(options: { page?: number; limit?: number } = {}): Promise<any> {
    return this.getPaginated(options);
  }

  async get{{ModelName}}ById(id: string): Promise<{{ModelName}}> {
    return this.getById(id);
  }

  async create{{ModelName}}(data: Partial<{{ModelName}}>): Promise<{{ModelName}}> {
    return this.create(data);
  }

  async update{{ModelName}}(id: string, data: Partial<{{ModelName}}>): Promise<{{ModelName}}> {
    return this.update(id, data);
  }

  async delete{{ModelName}}(id: string): Promise<boolean> {
    return this.delete(id);
  }
}

export const {{module_name}}Service = new {{ModelName}}Service();
